.table-container {
  overflow: scroll;
  position: relative;
  .transform-helper {
    overflow: hidden;
  }
  .content-wrapper {
    overflow: hidden;
  }
}

.table {
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  border-spacing: 0;
  tr {
    box-sizing: border-box;
  }
}
